html{
  display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }

  h2 {
    color: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }

  img#coming-soon{
    height: 500px;
    width: 500px;
  }
  